extends layout

block content
    section.section-padding
        .container
            .d-flex.justify-content-center(style="padding: 10px")
                img(src="/img/logo2.png", alt="Logo", srcset="" width="100px")
            h3 
                span 共
                span=WordCnt
                span 個詞彙
            .input-group
                input( type="text" class="form-control" placeholder="輸入韻腳" aria-label="Username" aria-describedby="basic-addon1")#txt
                .input-group-append
                    input(type="button", value="尬一下")#search.btn.btn-primary
    section.section-padding
        .container
            #result

block append script
    script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.slim.js")
    //- script(src="/static/index.js")

    script(src='/js/index.js')
        